In [18]:
# list: [], 
# built in datatypes, 
# ordered (defined order and will not chnge, ex: if any value added then will be at the end), 
# changeable(add,remove,change)
# allows duplicates.

# ******************************************************************************************************************
# example: 
list=[["shivani", "praveen","Tulasi"],"Assassin","plum"]
list1=["sam","tam","pam","see","june"]

#accessing from one dim
print("accessing:",list[0])   
print("accessing:",list[-1])  
print(list)

#from multi dim
print("multi dim:",list[0][1])

#ranging
print("range:",list[0:3])

#adding new value it adds at end
list.append("prasad") 
print("appended:",list)

#adds new value to the mentioned index
list.insert(2,"foxtale") 
print("insert:",list) 

#extends: adding two list (we can add set, tuple or dict to list using this)
list.extend(list1)
print("extended:",list)

#removes values
list.remove("plum") 
print("remove:",list)

accessing: ['shivani', 'praveen', 'Tulasi']
accessing: plum
[['shivani', 'praveen', 'Tulasi'], 'Assassin', 'plum']
multi dim: praveen
range: [['shivani', 'praveen', 'Tulasi'], 'Assassin', 'plum']
appended: [['shivani', 'praveen', 'Tulasi'], 'Assassin', 'plum', 'prasad']
insert: [['shivani', 'praveen', 'Tulasi'], 'Assassin', 'foxtale', 'plum', 'prasad']
reverse: None
extended: [['shivani', 'praveen', 'Tulasi'], 'Assassin', 'foxtale', 'plum', 'prasad', 'june', 'see', 'pam', 'tam', 'sam']
remove: [['shivani', 'praveen', 'Tulasi'], 'Assassin', 'foxtale', 'prasad', 'june', 'see', 'pam', 'tam', 'sam']
reverse: None

In [21]:
#reverse
list1=["sam","tam","pam","see","june"]
list1.reverse()
print(list1)
list1.pop(2)
print(list1)

['june', 'see', 'pam', 'tam', 'sam']
['june', 'see', 'tam', 'sam']

In [15]:
#taking new elements
string=input("enter elements (Space Separated):")
str1=string.split()
print("list:",str1)

enter elements (Space Separated):shivani jagadeesh sripadojwar
list: ['shivani', 'jagadeesh', 'sripadojwar']

In [2]:
#slicing- not includes last element

x="hello_good_morning"
print("indexing:", x[1:6])
print(x[1:9])
print("negative indexing:", x[1:-6]) #takes 1 from start and -6 from end
print("ne:", x[-5:-2]) #not printing 'o'
b = "Hello, World!"
print(b[-5:-2])
b = "Hello,_World"
print(b[-5:-2])

indexing: ello_
ello_goo
negative indexing: ello_good_m
ne: rni
orl
Wor

In [24]:
#check if items present in list
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
if "sam" in list:
    print("yes, it is in list")
else:
    print("no")

yes, it is in list

In [4]:
#change item value
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list[-1]="july"
print(list)

['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'july']

In [5]:
#chnage the items in range
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list[6:8]=["april","may"]
print(list)

['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'april', 'may', 'pam', 'see', 'june']

In [6]:
#remove specified index
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list.pop(4)
print(list)
#index not specified takes out last item

['shivani', 'praveen', 'foxtale', 'Tulasi', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']

In [7]:
#delete 
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
del list
print(list)

<class 'list'>

In [8]:
#clear
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list.clear()
print(list)

[]

In [9]:
#loop list
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
for i in list:
    print(i)

shivani
praveen
foxtale
Tulasi
Assassin
prasad
sam
tam
pam
see
june

In [2]:
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
for i in range(len(list)):
    print(list[i])

shivani
praveen
foxtale
Tulasi
Assassin
prasad
sam
tam
pam
see
june

In [11]:
list=['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
newlist=[]
for i in list:
    if "a" in i:
        newlist.append(i)
print(newlist)

['shivani', 'praveen', 'foxtale', 'Tulasi', 'Assassin', 'prasad', 'sam', 'tam', 'pam']

In [12]:
list=['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list.sort()   #sort
print(list)

['assassin', 'foxtale', 'june', 'pam', 'prasad', 'praveen', 'sam', 'see', 'shivani', 'tam', 'tulasi']

In [13]:
list.sort(reverse=True)  #descending order
print(list)

['tulasi', 'tam', 'shivani', 'see', 'sam', 'praveen', 'prasad', 'pam', 'june', 'foxtale', 'assassin']

In [26]:
#copy
list=['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list1=list.copy()
print(list1)

['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']

In [27]:
print("l1: ",list, "\n",  " l2: ",list1)

l1:  ['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
  l2:  ['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']

In [16]:
s="hi my name is {} age is {} born in {}"   #formatting
print(s.format("shivani", 24,1999))

hi my name is shivani age is 24 born in 1999

In [17]:
#join lists

list=['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list1=[1,2,3,4,5,6,7,8,9,10]
print("join", list + list1)

join ['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# The main difference is that "extend" modifies the original list, while "concatenate" creates a new list.
# If you want to add elements from one list to another list, use "extend".
# If you want to create a new list by combining elements from two existing lists, use "concatenate".
list=['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list1=[1,2,3,4,5,6,7,8,9,10]
list1.extend(list)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']

In [3]:
#concate
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [19]:
list=['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june']
list1=[1,2,3,4,5,6,7,8,9,10]
list.extend(list1)
print(list)

['shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
    ele = int(input())
# adding the element
    lst.append(ele) 

print(lst)

Enter number of elements : 1 2 3

ValueError: invalid literal for int() with base 10: '1 2 3'

In [4]:
list=[]
n=int(input("enter values:"))

enter values:1 2 3

ValueError: invalid literal for int() with base 10: '1 2 3'

# tuples

In [18]:
# represented by (),
# built in datatype,
# ordered(defined order and will not change) 
# and unchangeable(cannot be changed like add, delete, remove)
# allows duplicates
#last value not considered
# we use this datatype if we dont want any changes to be made 
#**********************************************************************************************************************

#example:

tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
print(tuple)
print(type(tuple))

('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
<class 'tuple'>

In [19]:
len1=len((tuple))
print(len1)

11

In [15]:
#length

# print(len(tuple))

#list to tuple
list1=[1,2,3,4]
l_tuple=tuple(list1)
print(l_tuple)

(1, 2, 3, 4)

In [12]:
list=["shivani","sri"]
l1=tuple(list)
print(l1)

('shivani', 'sri')

In [7]:
sample_list = ['Compile', 'With', 'Favtutor']

#convert list into tuple
tuple1 = tuple(sample_list)

print(tuple1)
print(type(tuple1))

('Compile', 'With', 'Favtutor')
<class 'tuple'>

In [8]:
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [6]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [24]:
# Create Tuple With One Item
# To create a tuple with only one item, you have to add a comma after the item, 
# otherwise Python will not recognize it as a tuple.

tup1=("sripadojwar",)
print(type(tup1))
#not tuple
tup2=("sripadojwar")
print(type(tup2))

<class 'tuple'>
<class 'str'>

In [26]:
# A tuple can contain different data types:

tuple2=("aas","dde","rty",True, False, 1,2,4)
print(tuple2)

('aas', 'dde', 'rty', True, False, 1, 2, 4)

In [20]:
# The tuple() Constructor
# It is also possible to use the tuple() constructor to make a tuple.

new=tuple(["shivani","praveen","tulasi","prasad","sam"])
print(new)                  #have to check this

TypeError: 'tuple' object is not callable

In [41]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [34]:
# access 

tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
print(tuple[0])

shivani

In [35]:
# Slicing
# negative indexing

tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
print(tuple[-7])

assassin

In [22]:
# range
tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
print(tuple[0:6])

('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad')

In [23]:
tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
print(tuple[-5:-2])

('sam', 'tam', 'pam')

In [25]:
# Define a tuple
tuple_data = ('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')

# Perform slicing to get elements from index 5 up to, but not including, the last element
subset_tuple = tuple_data[5:-1]

# Print the subset tuple
print(subset_tuple)

('prasad', 'sam', 'tam', 'pam', 'see')

In [27]:
# Slicing with a starting index greater than the stopping index results in an empty tuple being returned.
print(tuple[-1:6])

()

In [5]:
print(tuple[1:-6])

('praveen', 'foxtale', 'tulasi', 'assassin')

In [46]:
#check if items exist
tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
if "shivani" in tuple:
    print("yes")
else:
    print("no")

yes

In [49]:
#changing values

tuple=('shivani', 'praveen', 'foxtale', 'tulasi', 'assassin', 'prasad', 'sam', 'tam', 'pam', 'see', 'june')
tuple[0]="sripadojwar"
print(tuple)

#error below suggests that we cannot change the values

TypeError: 'tuple' object does not support item assignment

In [29]:
#concatenation
tuple1=(1,2,3,4,5)
tuple2=("shivani","sripadojwar")
tuple3=tuple2+tuple1
print(tuple3)

('shivani', 'sripadojwar', 1, 2, 3, 4, 5)

In [31]:
#deleting- part of it is not allowed since its immutable, so whole tuple can be deleted instead

tuple1=(1,2,3,5)
del tuple1
# print(tuple1)

In [49]:
#sort
tuple1=sorted([1,2,3,5,9,6,7,0])
print(tuple1)
#reverse
tuple1=sorted([1,2,3,5,9,6,7,0], reverse=True)
print(tuple1)

[0, 1, 2, 3, 5, 6, 7, 9]
[9, 7, 6, 5, 3, 2, 1, 0]

In [50]:
# List
x = ['q', 'w', 'r', 'e', 't', 'y']
print(sorted(x))

# Tuple
x = ('q', 'w', 'e', 'r', 't', 'y')
print(sorted(x))

# String-sorted based on ASCII translations
x = "python"
print(sorted(x))

# Dictionary
x = {'q': 1, 'w': 2, 'e': 3, 'r': 4, 't': 5, 'y': 6}
print(sorted(x))

# Set
x = {'q', 'w', 'e', 'r', 't', 'y'}
print(sorted(x))

# Frozen Set
x = frozenset(('q', 'w', 'e', 'r', 't', 'y'))
print(sorted(x))

['e', 'q', 'r', 't', 'w', 'y']
['e', 'q', 'r', 't', 'w', 'y']
['h', 'n', 'o', 'p', 't', 'y']
['e', 'q', 'r', 't', 'w', 'y']
['e', 'q', 'r', 't', 'w', 'y']
['e', 'q', 'r', 't', 'w', 'y']

In [53]:
str="geekforgeeks"
e=sorted(str,reverse=True) #descending order
print(e)

['s', 'r', 'o', 'k', 'k', 'g', 'g', 'f', 'e', 'e', 'e', 'e']

In [60]:
# Python3 code to demonstrate
# Reverse Sort a String
# using join() + sorted() + reverse
# The characters of the string "geekforgeeks" are sorted in descending order, 
# resulting in ['s', 's', 'k', 'k', 'g', 'g', 'f', 'e', 'e', 'e', 'e'].
# These sorted characters are then joined back into a single string with an empty string 
# '' between them
# Finally, this sorted string is assigned to the variable res.

# initializing string 
test_string = "geekforgeeks"

# printing original string 
print("The original string : " + test_string)

# using join() + sorted() + reverse
# Sorting a string 
res = ''.join(sorted(test_string, reverse = True))
print(res)

# print result
print("String after reverse sorting : " + res)

The original string : geekforgeeks
srokkggfeeee
String after reverse sorting : srokkggfeeee

In [63]:
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=sum((t1,t2),())
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [32]:
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=((t1,t2),())
print(t3)

(((1, 2, 3, 4), (5, 6, 7, 8)), ())

# sets

In [69]:
# unordered, iterable and mutable, NO DUPLICATES. Indexing is not possible & we cannot access items.

# typecasting list to set
myset = set(["a", "b", "c"])
print(myset)

# Adding element to the set
myset.add("d")
print(myset)

{'c', 'b', 'a'}
{'c', 'b', 'd', 'a'}

In [70]:
type(myset)

set

In [72]:
# once created we cannot change the items.
s1={1,2,3,4,5}
s1[3]=0
print(s1)

TypeError: 'set' object does not support item assignment

In [73]:
#it can store any data types (heterogeneous elements)
myset = {"Geeks", "for", 10, 52.7, True}
print(myset)

{True, 'Geeks', 52.7, 'for', 10}

In [37]:
#frozen set- we cannot change chars 
normal_set=set([1,2,3,4,5])
print(normal_set)
frozen_set=frozenset([6,7,8])
print(frozen_set)

{1, 2, 3, 4, 5}
frozenset({8, 6, 7})

In [38]:
frozen_set.add("00") #adding elements is not possible

AttributeError: 'frozenset' object has no attribute 'add'

In [40]:
#adding elements
people={"shivani","preethi","radha","krishna","ram"}
people.add("Sita")
print(people)

{'krishna', 'radha', 'Sita', 'ram', 'shivani', 'preethi'}

In [41]:
# for loop
for i in people:
    print(i)

krishna
radha
Sita
ram
shivani
preethi

In [42]:
#if element is present
if "radha" in people:
    print("yes!")
else:
    print("no")

yes!

In [44]:
# range() expects an integer argument, not a set.
for i in range(people):
    print(i)

TypeError: 'set' object cannot be interpreted as an integer

In [45]:
for person in people:
    print(person)

krishna
radha
Sita
ram
shivani
preethi

In [83]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [87]:
# using union or | operator
s1={"krishna","balram","subhadra","radha"}
s2={"arjun","yudishtir","bhishma","draupadi","kunti"}
print("method1:",s1.union(s2))
print("method2:",s1 | s2)

method1: {'yudishtir', 'krishna', 'draupadi', 'kunti', 'subhadra', 'arjun', 'radha', 'balram', 'bhishma'}
method2: {'yudishtir', 'krishna', 'draupadi', 'kunti', 'subhadra', 'arjun', 'radha', 'balram', 'bhishma'}

In [91]:
#using intersection or & operator
s1={"krishna","balram","subhadra","radha"}
s2={"arjun","yudishtir","bhishma","draupadi","kunti"}
print("method1:",s1.intersection(s2))
print("method2:",s1 & s2)

# example-2
s1={"krishna","balram","subhadra","radha","balram"}
s2={"arjun","yudishtir","bhishma","draupadi","kunti","balram"}
print("ex-2: method1:",s1.intersection(s2))
print("ex-2: method2:",s1 & s2)

method1: set()
method2: set()
ex-2: method1: {'balram'}
ex-2: method2: {'balram'}

In [46]:
#create set
# set1.add(i), you are adding the value of the variable i to the set set1.
set1=set()
set2=set()
for i in range(5):
    set1.add(i)
for i in range(3,6):
    set2.add(i)
print("set1:", set1)
print("set2:", set2)

set1: {0, 1, 2, 3, 4}
set2: {3, 4, 5}

In [3]:
#difference or -
diff=set1.difference(set2)
diff1=set1-set2
print(diff)
print(diff1)

{0, 1, 2}
{0, 1, 2}

In [7]:
#clearing 
set1={"krishna","balram","subhadra","radha","balram"}
set1.clear()
print(set1)

set()

In [12]:
# update() method to combine the elements of set2 into set1. 
set1= {0, 1, 2, 3, 4}
set2= {3, 4, 5}
set1.update(set2)
print(set1)

{0, 1, 2, 3, 4, 5}

In [13]:
#list comprehension
set1= {0, 1, 2, 3, 4}
set2=list(set1)
print(set2)

[0, 1, 2, 3, 4]

In [17]:
#add elements to the dict
# number.update(num_Dict) effectively adds elements from the keys of the dictionary num_Dict into the set number.
number = {1, 2, 3, 4, 5}
 
num_Dict = {6: 'Six', 7: 'Seven', 8: 'Eight',
            9: 'Nine', 10: 'Ten'}
number.update(num_Dict)
print(number)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
#pop element with smallest value is removed first followed by removing in increasing order
# Python program to remove elements from set
# Using the pop() method
def Remove(initial_set): #method remove
    while initial_set:
        initial_set.pop()
        print(initial_set)

# Driver Code
initial_set = set([12, 10, 13, 15, 8, 9])
Remove(initial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [21]:
initial_set = set([12, 10, 13, 15, 8, 9])
while initial_set:
    initial_set.pop()
    print(initial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [23]:
# # initialize the set
# Initialize a set my_set with the given elements.
# Enter a loop that runs as long as there are elements in the set my_set.
# Find the maximum element in the set using the max() function and remove it from the set using the discard() method.
# Print the updated set after each removal.
# Exit the loop when the set my_set becomes empty.

my_set = set([12, 10, 13, 15, 8, 9])

# remove elements one by one using discard() method
while my_set:
	my_set.discard(max(my_set))
	print(my_set)

{8, 9, 10, 12, 13}
{8, 9, 10, 12}
{8, 9, 10}
{8, 9}
{8}
set()

In [25]:
my_set = set([12, 10, 13, 15, 8, 9])
for i in range(len(my_set)):
    my_set.remove(next(iter(my_set)))
    print(my_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [27]:
#element present
# operators in and not in

# create a set with integer elements
data = {7058, 7059, 7072, 7074, 7076}

print(7058 not in data)

print(7059 in data)

print(7071 in data)

False
True
False

# dictionary

In [29]:
#it has a key and value, stores as a map, {}, any datatype, can be dulplicated, keys are not repeated, immutable.
#keys are case sensitive
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'} 
print(Dict)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [31]:
dict={1:"shivani",2:"Bodhan","Age":22}
print(dict)
# any data types
dict1={1:"shivani",2:[1,2,3,4,5],"age":23}
print("any dt",dict1)

{1: 'shivani', 2: 'Bodhan', 'Age': 22}
any dt {1: 'shivani', 2: [1, 2, 3, 4, 5], 'age': 23}

In [32]:
#buitl in dict can be created using dict={}
dict={}
print(dict)

{}

In [35]:
#nested dictionary
details={"name": {"first_name":"shivani",
                 "last_name":"sripadojwar"},
        "DOB":{"month":"june","day":7,"year":1999},
        "Address":{"street":"svs colony", "pincode":000000, "State":"telangana"}}
print(details)

{'name': {'first_name': 'shivani', 'last_name': 'sripadojwar'}, 'DOB': {'month': 'june', 'day': 7, 'year': 1999}, 'Address': {'street': 'svs colony', 'pincode': 0, 'State': 'telangana'}}

In [64]:
#adding elements to dict
dict={}
dict[0]=111
dict[1]="shivani"
dict[2]="CSE"
dict[4]=7.5
#adding multiple
dict[5]=[98,79,90,93]
#replace existing values
dict[2]="eee"
#adding nested key value
dict[6]={"rank":{"number": 98,"condition":"pass"}}
print(dict)

{0: 111, 1: 'shivani', 2: 'eee', 4: 7.5, 5: [98, 79, 90, 93], 6: {'rank': {'number': 98, 'condition': 'pass'}}}

In [44]:
#accessing element using key
dict[0]

111

In [47]:
dict[6]

{'rank': {'number': 98, 'condition': 'pass'}}

In [51]:
dict.get(2)

'eee'

In [60]:
#accessing element of nested dict
dict={"rank":{"number": 98,"condition":"pass"}}
print(dict['rank']['number'])

98

In [47]:
# Creating a Dictionary 
Dict = {
    'Dict1': {1: 'Geeks'}, 
    'Dict2': {'Name': 'sam'}
      } 

# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
sam

In [69]:
# delete 
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
del(Dict[1])
print(Dict)

{'name': 'For', 3: 'Geeks'}

In [75]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
dict0=Dict.copy()
print(dict0)
print(Dict)

{1: 'Geeks', 'name': 'For', 3: 'Geeks'}
{1: 'Geeks', 'name': 'For', 3: 'Geeks'}

In [76]:
dict_items=dict.items()
print(dict_items)

dict_items([(0, 111), (1, 'shivani'), (2, 'eee'), (4, 7.5), (5, [98, 79, 90, 93]), (6, {'rank': {'number': 98, 'condition': 'pass'}})])

In [77]:
dict_keys=Dict.keys()
print(dict_keys)

dict_keys([1, 'name', 3])

In [80]:
# demo for all dictionary methods 
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"} 

# copy() method 
dict2 = dict1.copy() 
print(dict2) 

# clear() method 
dict1.clear() 
print(dict1) 

# get() method 
print(dict2.get(1)) 

# items() method 
print(dict2.items()) 

# keys() method 
print(dict2.keys()) 

# pop() method 
dict2.pop(4) 
print(dict2) 

# popitem() method 
dict2.popitem() 
print(dict2) 

# update() method 
dict2.update({3: "Scala"}) 
print(dict2) 

# values() method 
print(dict2.values())

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

In [85]:
# Initialize an empty dictionary
D = {} 

L = [['a', 1], ['b', 2], ['a', 3], ['c', 4]]

# Loop to add key-value pair to dictionary

for i in range(len(L)):
# If the key is already present in dictionary then append the value to the list of values
    if L[i][0] in D:
        D[L[i][0]].append(L[i][1])

# If the key is not present in the dictionary then add the key-value pair
    else:
        D[L[i][0]]= []
        D[L[i][0]].append(L[i][1])

print(D)

{'a': [1, 3], 'b': [2], 'c': [4]}

In [114]:
D = {} 

L = [['a', 1], ['b', 2], ['a', 3], ['c', 4]]

# Loop to add key-value pair to dictionary

for i in range(len(L)):
# If the key is already present in dictionary then append the value to the list of values
    if L[i][0] in D:
        D[L[i][0]].append(L[i][1])
        print(L[i][1])
    else:
        D[L[i][0]]= []
        D[L[i][0]].append(L[i][1])
print(D)

3

IndexError: list index out of range

In [96]:
#merging 
veg_dict = {0: 'Carrot', 1: 'Raddish', 
            2: 'Brinjal', 3: 'Potato'}
veg_dict.update({4:"bhendi",5:"aloo"})
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato', 4: 'bhendi', 5: 'aloo'}

In [55]:
#using two lists of same length 
a=[1,2,3,4,5]
b=["asd","ghj","yui","okn","tyr"]
ab=dict(zip(a,b))
print(ab)

{1: 'asd', 2: 'ghj', 3: 'yui', 4: 'okn', 5: 'tyr'}

In [56]:
roll_no = [10, 20, 30, 40, 50]
names = ['Ramesh', 'Mahesh', 'Kamlesh', 
		'Suresh', 'Dinesh']

students = zip(roll_no, names)
print(students)

<zip object at 0x000002A402A23B80>

In [57]:
students_list = list(students)
print(students_list)

TypeError: 'list' object is not callable

In [101]:
vegetables = ['Carrot', 'Raddish', 
			'Brinjal', 'Potato']

veg_dict = dict(enumerate(vegetables))
print(veg_dict)

TypeError: 'dict' object is not callable

In [102]:
#using merge operator
veg1 = {0: 'Carrot', 1: 'Raddish'}
veg2 = {2: 'Brinjal', 3: 'Potato'}

veg_dict = (veg1 | veg2)
print(veg_dict)

{0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}

In [105]:
veg1 = {0:'Carrot', 1:'Raddish'}
veg2 = {2:'Brinjal', 3:'Potato'}

veg1 |= veg2
print(veg2)
print("veg-1",veg1)

{2: 'Brinjal', 3: 'Potato'}
veg-1 {0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}

In [49]:
veg1 = {0: 'Carrot', 1: 'Raddish', 2: 'Brinjal', 3: 'Potato'}
for i in veg1:
    print(i,veg1[i])

0 Carrot
1 Raddish
2 Brinjal
3 Potato

In [116]:
my_list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
my_list2 =["Geeks", "For", "Geek"] 

# check if my_list1 and my_list2 exists 
print(my_list1) 
print(my_list2) 

# delete second element of my_list1 
del my_list1[1] 

# check if the second element in my_list1 is deleted 
print(my_list1) 

# slice my_list1 from index 3 to 5 
del my_list1[3:5] 

# check if the elements from index 3 to 5 in my_list1 is deleted 
print(my_list1) 

# delete my_list2 
del my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Geeks', 'For', 'Geek']
[1, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 4, 7, 8, 9]