In [1]:
print("Hello World!")

Hello World!

In [2]:
print(1-1)

0

In [3]:
1+4

5

In [4]:
#sum of 2 numbers
print(1+9)

10

In [5]:
age=25
salary="5L"
name="Shivani"
print(age, salary, name)

25 5L Shivani

In [6]:
type(3)

int

In [7]:
type("shivani")

str

In [8]:
type(True)

bool

In [9]:
type(9.0)

float

In [10]:
type({1:"shivani", 2: "Sripadojwar"})

dict

In [11]:
type(["shivani","sripadojwar"])

list

In [12]:
type((1,2,3,4,))

tuple

In [13]:
type({3,4,5,6})

set

In [14]:
type(3+5j)

complex

In [15]:
a=3
b=2
a+6

9

In [16]:
a-b

1

In [17]:
a/b

1.5

In [18]:
a**b

9

In [19]:
a%b

1

In [20]:
a=True
b=False
print(a and b)

False

In [21]:
print(a or b)

True

In [22]:
True and True

True

In [23]:
True and False

False

In [24]:
False and False

False

In [25]:
False and True

False

In [26]:
True or True

True

In [27]:
True or False

True

In [28]:
False or False

False

In [29]:
False or True

True

In [30]:
my_name="Shivani"

In [31]:
print(my_name.capitalize())
print(my_name.casefold())

Shivani
shivani

In [32]:
print(my_name.format())

Shivani

In [33]:
c=4
d=5
c+=d
print(c)

9

In [34]:
c-=d
print(c)

4

In [35]:
c=c|d
print(c)

5

In [36]:
c=c&d
print(c)

5

# If else-executes if condition is true and doesn't when it is false

In [37]:
i=10
if i>30:
    print("True")
else:
    print("False")

False

In [38]:
x=input("enter")
y=input("enter")
z=input("enter")
if x>y:
    print("yes")
elif x<y:
    print("no")
elif x==y:
    print("equal")
else:
    print("invalid")

enter3
enter4
enter6
no

For Loop- iterating over sequence of elements.

In [39]:
new="Shivani"
for i in new:
    print(i)

S
h
i
v
a
n
i

In [40]:
new1=1,2,3,4,5,6,7,8
for i in new1:
    print(i)

1
2
3
4
5
6
7
8

In [41]:
i=0 #initialize

while i<5: #condition
    print("Hi",i)
    
    i=i+1 #increment/decrement

Hi 0
Hi 1
Hi 2
Hi 3
Hi 4

In [42]:
i=5
while i>0:
    print("hello")
    i=i-1

hello
hello
hello
hello
hello

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
def add():  
    # Defining local variables. They has scope only within a function  
    a = 20  
    b = 30  
    c = a + b  
    print("The sum is:", c)  
  
# Calling a function  
add()  
print(a)

The sum is: 50
True

In [45]:
x=60
def add():  
    # Defining local variables. They has scope only within a function  
    a = 20  
    b = 30  
    c = a + b  
    print("The sum is:", c)  
  
# Calling a function  
add()  
print(x)

The sum is: 50
60

In [46]:
# Purpose: The break statement is used to exit a loop immediately.
# Usage: Can be used in both for and while loops, including nested loops.
# Control Flow: Transfers control to the statement immediately following the loop.
# Common Use Cases: Often used when a specific condition is met, such as finding an element, user input, or reaching a specific value.
for i in range(10):
    if i<15:
        print(i,"yes")
        i=i+1
#         break
print(i,"valid")

0 yes
1 yes
2 yes
3 yes
4 yes
5 yes
6 yes
7 yes
8 yes
9 yes
10 valid

In [47]:
i = 0
while i < 10:
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)
    i += 1
print("Loop terminated")

0
1
2
3
4
Loop terminated

In [48]:
i=0
if i == 5:
        break  # Exit the loop when i equals 5
print(i)
i += 1

SyntaxError: 'break' outside loop (2613911481.py, line 3)

In [ ]:
# Prompt the user to enter the first number
number = int(input('Enter a number: '))

# Initialize the total sum to 0
total = 0

# Iterate until the user enters 0
while number != 0:
    # Add the entered number to the total sum
    total += number
    
    # Prompt the user to enter the next number
    number = int(input('Enter a number: '))

# Print the total sum once the loop terminates
print('The sum is', total)

In [ ]:
x=int(input("enter:")) 
i=1
for i in range(x):
    if i<5:
        print(1,"candy")
    break
print("out of stock")

In [66]:
av=10
x= int(input("enter:"))
i=1
for i in range(1,x+1): 
    if i>av:
        print("out of stock")
        break
    print(i,"candy")
    
print("bye")

enter:5
1 candy
2 candy
3 candy
4 candy
5 candy
bye

In [65]:
available_candies = 10

# Input: Number of candies the user wants
x = int(input("Enter the number of candies you want: "))

# Loop through the range up to the user's requested number of candies
for i in range(1, x + 1):
    if i > available_candies:
        print("out of stock")
        break
    print(i, "candy")

print("bye")

Enter the number of candies you want: 50
1 candy
2 candy
3 candy
4 candy
5 candy
6 candy
7 candy
8 candy
9 candy
10 candy
out of stock
bye

In [73]:
# The continue statement is useful when you want to skip certain conditions within a loop without terminating the loop entirely. 
# It's often used to filter out specific values or conditions, allowing the loop to proceed to the next iteration.

for i in range(1,50):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [71]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Odd numbers:")
for num in numbers:
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

Odd numbers:
1
3
5
7
9

In [78]:
str="Hello world"
for s in str:
    if s in 'aeiou':
        continue
    print(s)

H
l
l

w
r
l
d

In [80]:
str="Hello world"
for s in str:
    if s not in'aeiou':
        continue
    print(s)

e
o
o

In [81]:
string = "hello world"

print("String without vowels:")
for char in string:
    if char in 'aeiou':
        continue  # Skip vowels
    print(char, end='')

String without vowels:
hll wrld

In [83]:
def shivani():

SyntaxError: incomplete input (3436335136.py, line 1)

In [84]:
def shivani():
    pass

In [88]:
str={"my" ,"name", "is", "shivani"}
for s in str:
    if s=="is":
        pass
    else: 
        print("no value",s)

no value shivani
no value my
no value name

In [90]:
# string-immutable, indexing starts with 0 and end at n-1
print("my name is {}".format("shivani"))

my name is shivani

In [96]:
print("my name is %s\n my salary is %.2f"%("shivani",6000000))

my name is shivani
 my salary is 6000000.00

In [97]:
print("my name is {}\n my salary is {}"%("shivani",6000000))

TypeError: not all arguments converted during string formatting